.editsnippet {
	background-color: #191919;
	border: 1px solid #363636;
	border-radius: 6px;
	margin: 8px;
}

* {
	color: #EEEEEE;
	font-family: 'montserrat', sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	text-decoration: none; }
*:hover {
	transition: 0.2s;}

header {
	background-color: #262626;
	display: flex;
	height: 56px;
	position: fixed;
	width: 100%;}
main {
	background-color: #191919;
	display: grid;
	height: calc(100% - 56px);
	padding-top: 56px;
}
img {
	border-radius: 6px;
	margin: 8px;
}
ul {
	display: flex;
	margin-left: 8px;
	margin-right: 8px;}

#navbar-container {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 960px;}
#navbar-scrape span {
	font-family: 'American Typewriter', sans-serif;
	font-size: 32px;
	text-shadow: 2px 2px 0 #009FFD,
		-2px -2px 0 #009FFD,
		2px -2px 0 #009FFD,
		-2px 2px 0 #009FFD,
		0px 2px 0 #009FFD,
		2px 0px 0 #009FFD,
		0px -2px 0 #009FFD,
		-2px 0px 0 #009FFD;}
#navbar-scrape:hover span {
	color: #009FFD;
	text-shadow: 2px 2px 0 #FFFFFF,
		-2px -2px 0 #FFFFFF,
		2px -2px 0 #FFFFFF,
		-2px 2px 0 #FFFFFF,
		0px 2px 0 #FFFFFF,
		2px 0px 0 #FFFFFF,
		0px -2px 0 #FFFFFF,
		-2px 0px 0 #FFFFFF;
	transition: 0s;}
.navbar-element {
	align-items: center;
	border-radius: 6px;
	display: flex;
	height: 56px;
	padding-left: 20px;
	padding-right: 20px;}

#interface-container {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(4, 256px);
	padding-top: 16px;
}
.game-container {
	background-color: #262626;
	border: solid 1px #363636;
	border-radius: 8px;
	display: flex;
	height: 192px;
	flex-direction: column;
}
.title {
	font-size: 18px;
	margin-left: 8px;
}
.sub {
	color: #AAAAAA;
	font-style: italic;
	font-size: 12px;
	margin-left: 16px;
}

.btn-regular:hover {
	background-color: #363636!important;}
.btn-regular:hover span {
	color: #009FFD;}
.btn-glow:hover {
	background-color: #363636!important;
	border: solid 1px #009FFD!important;
	color: #009FFD;}
.btn-glow:hover span {
	color: #009FFD;}
.btn-red:hover {
	background-color: #FF2222!important;}

html { height: 100% }
body {
	height: 100%;
}